body {
    width: 100%;
    position: relative;
}  
.skip_menu {
    position: fixed;
    left: 0;
    top: 0;
    background-color: #000;
    color: #fff;
    font-weight: bold;
    padding: 10px 15px;
    text-decoration: none;
    transform: translateY(-100%);
}
.skip_menu:focus{
    transform: translateY(0);
}
#bg {
    position: fixed;
    top: 0;
    left: -40px;
    width: 1960px;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    z-index: -100;
    background: url(/images/background_img1.jpg) no-repeat left top / cover;
}  
header{
    width:1440px;
    height:100vh;
    position: relative;
}
#header_nav{
    width:100%;
    height:125px;
    position:fixed; 
}
h1 .logo{
    background:url(/images/logo.png) no-repeat center;
    width:125px;
    height:43px;
    display: block;
    position:absolute;
    left:40px;
    top:45px;
    z-index: 100;
}
h1 .logo:after{
    background:url(/images/logo2.png) no-repeat center;
    width:125px;
    height:43px;
    content:'';
    display:none;
    position:absolute;
    left:0px;
    top:0px;
    z-index: 100;
}
#nav{
    width:100%;
    position:relative;
    height:125px;
    
    background:transparent;
}
#gnb{
    width:850px;
    margin:auto;
}
.width100{
    width:100%;
    position:absolute;
    left:0;
    top:125px;
    z-index:21;
    padding:0;
    height:0;
    overflow: hidden;
    background:#e9e9e9;  
}
.m_width{
    max-width:1500px;
    height:100%;
    margin:auto;
    border-top:1px solid #fff;
    position:relative;
}
.m_width::after{
    width:100%;
    height:100%;
    display:block;
    background:#fff;
    position: absolute;
    left:300px;
    z-index:-1;
}
#nav li a{
    display:block;
    line-height:10px;
    font-size:15px;
    font-weight:bold;
}
#nav #gnb .width100 .m_width li:nth-child(n+2):nth-child(-n+10){
    margin:30px 130px 0 -70px
}
#nav #gnb .width100 .m_width li{
    margin-left: -50px;
}
#nav #gnb .width100 .m_width li.safe{
    padding-left: 20px;
}
#nav #gnb .width100 .m_width li ul>li:nth-child(n+1):nth-child(-n+11){
    margin-top:5px;
    line-height:0;
    margin-left:0;
}
#nav #gnb .width100 .m_width li>h3>a:nth-child(n+1):nth-child(-n+11){
    font-weight: normal;
    font-size:17px;
    white-space:nowrap;
}
#nav #gnb .width100 .m_width li>h3{
    margin-bottom: 20px;
}
#nav #gnb .width100 .m_width li ul>li>a:nth-child(n+1):nth-child(-n+11){
    font-size:14px;
    font-weight:normal;
    color:#666;
    line-height:20px;
    white-space:nowrap;
}

#nav #gnb .m_title{
    min-height:450px;
    min-width:400px;
    text-align:right;
    position: relative;
    left:-8%;
    background-image:url(/images/blind_bg.png);
    background-repeat:no-repeat;
    background-position:10% 120%;
    padding-right:5%;
}
#nav #gnb .m_title>strong{
    font-family: 'NanumSquare';
    font-size:28px;
    margin-top:50px;
    display: block;
}
#nav #gnb .m_title>strong::after{
    content:'';
    width:30px;
    height:1px;
    background-color:#000;
    display:block;
    position:relative;
    top:10px;
    left:370px;
}
#nav #gnb .m_title>strong>span{
    font-family: 'NanumSquareExtraBold';
}
#nav #gnb .m_title>p{
    font-size:13px;
    color: #666;
    margin-top:30px;
}
#nav #gnb .m_title::before{
    content:'';
    display:block;
    width:45px;
    height:50px;
    background:url(/images/blind_bg2.png) no-repeat;
    position:relative;
    top:80px;
    left:375px;
}
#nav li .gnb_txt{
    display:block;
    font-size:19px;
    font-weight:500;
    color:#fff;
    padding:70px 20px 43px;
    border-bottom:2px solid transparent;   
}
#nav .m_width li{
    width:135px;
}

/* fix nav */
#nav li.blockchain::after{
    content:'';
    display:block;
    float: left;
    padding-bottom:200px;
}
#nav #gnb .width100 .m_width .move_1{
    margin: 30px 0 0 -70px;
}

#nav #gnb .width100 .m_width .move_2{
    margin: 130px 0 0 -330px;
}

/* gnb hover */
#header_nav:hover{
    background:#fff;
}
#header_nav:hover .gnb_txt{
    color:#222;
}
#header_nav #nav #gnb li:hover .width100{
    height:430px;
}
#nav:hover .gnb_txt:hover{
    color:#195bb1;
    border-bottom:2px solid #195bb1; 
}
#header_nav:hover .logo:after{
    display:block;
}
#nav li a:hover{
    color:#195bb1;
}
#nav #gnb .width100 .m_width li ul>li>a:nth-child(n+1):nth-child(-n+11):hover{
    text-decoration:underline;
    color: #222;
}

/* header_top */
#header_top .top_menu a,#header_top .top_menu li{
    font-size:14px;
    font-weight:300;
    color:#acacac;
    margin-right:6px;
}
#header_top .top_menu li{
    cursor:default;
}
#header_top{
    position:absolute;
    top:25px;
    right:2%;
}
#header_nav .search_map{
    position:absolute;
    top:65px;
    right:2%;
}
#header_nav .search_map form label{
    display:none;
}
#header_nav .search_map .search{
    width:220px;
    border:1px solid #f0f0f0;
    border-radius:30px;
}
#header_nav .search_map form #search_txt{
    width:150px;
    height:34px;
    line-height:34px;
    padding:0 13px;
    color:#ffffff;
    background:transparent;
    border:none;
}
#header_nav .search_map form input#search_btn{
    background-color:transparent;
    background:url(/images/search_ico.png) no-repeat center;
    background-size:80%;
    border:none;
    width:32px;
    height:32px;
    text-indent:-9999px;
    cursor: pointer;
}
#header_nav .search_map form input#search_btn:after{
    background-color:transparent;
    background:url(/images/search_ico_.png) no-repeat center;
    background-size:80%;
    border:none;
    width:32px;
    height:32px;
    text-indent:-9999px;
    cursor: pointer;
}
#header_nav .search_map .site_map h3 a{
    background:url(/images/allmenu_ico.png) no-repeat center;
    width:31px;
    height:32px;
    color:transparent;
    padding-bottom:7px;
}
#header_nav:hover #header_top li>a{
    color:#333;
}
#header_top li>a:hover{
    text-decoration:underline;
}
#header_nav:hover .search_map .search{
    border-color:#e9e9e9;
    background-color:rgba(222, 236, 255,.5);
}
#header_nav:hover .search_map #search_txt{
    color:#222;
}
#header_nav:hover .search_map #search_btn{
    background:url(/images/search_ico_on.png) no-repeat center;
    background-size:80%;
    border:none;
    width:32px;
    height:32px;
    text-indent:-9999px;
    cursor: pointer;
}
#header_nav:hover .search_map .site_map h3 a{
    background:url(/images/allmenu_ico2.png) no-repeat center;
    width:31px;
    height:32px;
    color:transparent;
    padding-bottom:7px;
}
#blind{
    display:none;
    width:100%;
    height:100%;
    position:fixed;
    left:0;
    right:0;
    top:125px;
    bottom:0;
    background:rgba(0, 0, 0, .6);
    z-index: -1;
}
