.news .layout .bodo {
    float: left;
    width: 100%;
    position: relative;
    margin-bottom: 95px;
  }
  .news .layout .bodo .js_slide {
    border-top: 1px solid #c8c8c8;
    position: relative;
    height: 357px;
    width: 100%;
  }
  .news .layout .bodo .js_slide .control {
    height: 4px;
    bottom: 0;
  }
  .news .layout .bodo .js_slide .control ul {
    text-align: center;
    height: 4px;
    bottom: 0;
  }
  .news .layout .bodo .js_slide .control ul li {
    display: inline-block;
    margin: 0 4px;
    vertical-align: top;
  }
  .news .layout .bodo .js_slide .control ul li a {
    width: 34px;
    height: 4px;
    border-radius: 0;
    background: #d7d7d7;
  }
  .news .layout .bodo .js_slide .control ul li a.on {
    background: #0a4594;
  }
  .news .layout .bodo .js_slide ul li ul {
    position: relative;
    left: auto;
    top: auto;
  }
  .news .layout .bodo .js_slide ul li ul li {
    float: left;
    position: relative;
    left: auto;
    width: 32%;
    margin-left: 2%;
    margin-top: 30px;
    height: 327px;
  }
  .news .layout .bodo .js_slide ul li ul li:first-child {
    margin-left: 0;
  }
  .news .layout .bodo .js_slide ul li ul li a {
    display: block;
    border: 0;
    background: none;
    cursor: pointer;
    overflow: visible;
    position: relative;
    border: 1px solid #eee;
  }
  .news .layout .bodo .js_slide ul li ul li a:before {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    background: url(../images/bodo_more.png) no-repeat center 50%;
    position: absolute;
    right: 7%;
    top: 25px;
    z-index: 10;
    opacity: 0;
    -webkit-opacity: 0;
  }
  .news .layout .bodo .js_slide ul li ul li a:after {
    content: "";
    display: block;
    width: 100%;
    height: 0;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    left: 0;
    bottom: 0;
  }
  .news .layout .bodo .js_slide ul li ul li a span.new {
    z-index: 101;
    left: 5%;
    top: -10px;
    width: auto;
    margin: 0;
    background: #0a4594;
    color: #fff;
    text-align: center;
    height: auto;
    padding: 8px 14px;
    font-size: 13px;
  }
  .news .layout .bodo .js_slide ul li ul li a p.txt {
    position: absolute;
    box-sizing: border-box;
    padding: 22px 6%;
    width: 100%;
    height: auto;
    left: 0;
    bottom: 0;
    z-index: 10;
    text-align: left;
    background: rgba(0, 0, 0, 0.6);
  }
  .news .layout .bodo .js_slide ul li ul li a p.txt span {
    display: block;
    position: relative;
    width: auto;
    height: auto;
    margin: 0;
    left: auto;
    text-align: left;
    color: #fff;
    font-size: 14px;
  }
  .news .layout .bodo .js_slide ul li ul li a p.txt strong {
    display: block;
    height: 52px;
    overflow: hidden;
    color: #fff;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    margin-top: 15px;
  }
  .news .layout .bodo .js_slide ul li ul li a p.photo {
    overflow: hidden;
    position: relative;
    height: 100%;
  }
  .news .layout .bodo .js_slide ul li ul li a p.photo span {
    display: block;
    position: absolute;
    left: 50%;
    top: 0;
    width: 2000px;
    height: 100%;
    margin-left: -1000px;
    text-align: center;
  }
  .news .layout .bodo .js_slide ul li ul li a img {
    display: block;
    margin: 0 auto;
    width: auto;
    height: 100%;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
  }
  .news .layout .bodo .js_slide ul li ul li a:hover:before,
  .news .layout .bodo .js_slide ul li ul li a:active:before {
    opacity: 1;
    -webkit-opacity: 1;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
  }
  .news .layout .bodo .js_slide ul li ul li a:hover:after,
  .news .layout .bodo .js_slide ul li ul li a:active:after {
    height: 100%;
  }
  .news .layout .bodo .js_slide ul li ul li a:hover p.txt,
  .news .layout .bodo .js_slide ul li ul li a:active p.txt {
    background: none;
  }
  .news .layout .bodo .js_slide ul li ul li a:focus {
    border: 1px dotted #666;
  }
  .news .layout .bodo .btn_more {
    right: 0;
    top: -45px;
  }
  .news .layout .btn_bodo {
    display: none;
  }
  .news .layout .bodo .btn_more {
    display: block;
  }
  